﻿.cdn-mgmt .row {
    display: flex;
}

.cdn-mgmt .col:first-child {
    width: 70%;
}

.cdn-mgmt .col:last-child {
    margin-left: 5%;
    width: 25%;
}

.cdn-mgmt .status-panel > div {
    display: flex;
    height: 32px;
}

.cdn-mgmt .status-panel .large {
    margin-right: 5px;
}

ul.umb-tree li.umb-tree-item.hidden-root-node {
    display: none;
}

.icon-icon-cdn {
    background-image: url('../images/cdn-config.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 18px;
    width: 18px;
}