﻿<div ng-controller="CdnManagement.Purge.Controller as vm" class="umb-property-editor umb-contentpicker">
    <umb-editor-panel>
        <umb-editor-header name="vm.title" name-locked="true" hide-description="true" hide-alias="true" hide-icon="true"></umb-editor-header>
        <umb-editor-container>
            Would you like to purge {{vm.entity.name}} (ID #{{vm.entity.id}})?
        </umb-editor-container>
        <umb-editor-footer>
            <umb-editor-footer-content-right>
                <umb-button button-style="link" type="button" action="vm.close()" label-key="general_close" disabled="vm.purging">
                </umb-button>
                <umb-button button-style="action" type="button" action="vm.purge(false)" label="Purge Selected Page" disabled="vm.purging">
                </umb-button>
                <umb-button button-style="action" type="button" action="vm.purge(true)" label="Purge w/ Children" disabled="vm.purging">
                </umb-button>
            </umb-editor-footer-content-right>
        </umb-editor-footer>
    </umb-editor-panel>
</div>
