﻿<div ng-controller="CdnManagement.GenericTreePicker.Controller as vm" class="umb-property-editor umb-contentpicker">
    <ng-form name="contentPickerForm">

        <div>
            <umb-node-preview ng-repeat="node in vm.pickedNodes track by node.id"
                              icon="node.icon"
                              name="node.name"
                              published="true"
                              description="node.url"
                              sortable="false"
                              allow-remove="true"
                              allow-open="false"
                              on-remove="vm.remove($index)">
            </umb-node-preview>
        </div>

        <button
            type="button"
            class="umb-node-preview-add"
            ng-click="vm.openCurrentPicker()"
            id="{{model.alias}}Add"
            aria-label="{{model.label}}: Add">
            <localize key="general_add">Add</localize>
            <span class="sr-only">...</span>
        </button>
    </ng-form>
</div>
