﻿<div class="cdn-mgmt form-horizontal" ng-controller="CdnManagement.Purging.Url.Controller as vm">
    <umb-editor-view footer="false">
        <umb-editor-header name="'Purge by URL'" name-locked="true" hide-icon="true" hide-description="true" hide-alias="true"></umb-editor-header>

        <umb-editor-container>
            <umb-load-indicator ng-if="vm.purging"></umb-load-indicator>

            <div class="row">
                <div class="col">
                    <umb-box>
                        <umb-box-content>
                            <umb-control-group label="Add URL" description="Enter the full URL you would like to include in the purge request">
                                <input type="text" ng-model="vm.addUrl" id="addUrl" name="addUrl" class="umb-textstring textstring" />
                                <umb-button button-style="success" type="button" action="vm.add()" label="Add" disabled="vm.purging">
                                </umb-button>
                            </umb-control-group>
                            <umb-control-group label="URLs to Purge">
                                <div ng-repeat="url in vm.urls track by $index">
                                    <span>{{url}}</span>
                                    <umb-button button-style="danger" type="button" action="vm.remove($index)" label="Remove" disabled="vm.purging">
                                    </umb-button>
                                </div>
                            </umb-control-group>
                            <umb-button button-style="action" type="button" action="vm.purge()" label="Purge Selected URLs" disabled="vm.purging">
                            </umb-button>
                        </umb-box-content>
                    </umb-box>
                </div>
                <div class="col">
                    <umb-box>
                        <umb-box-header title="Purge Status"></umb-box-header>
                        <umb-box-content ng-show="vm.lastResponse.response">
                            <div class="color-red bold" ng-show="vm.lastResponse.response.error">
                                <i class="icon-alert large"></i><span>Error</span>
                            </div>
                            <div class="color-green bold" ng-show="!vm.lastResponse.response.error">
                                <i class="icon-check large"></i><span>Success</span>
                            </div>
                            <div class="control-description">Last Purge:</div>
                            <small class="control-description">{{vm.lastResponse.dateTime}} by {{vm.lastResponse.user.name}}<br />{{vm.lastResponse.response.message}}{{vm.lastResponse.response.error}}</small>
                        </umb-box-content>
                    </umb-box>
                </div>
            </div>
        </umb-editor-container>
    </umb-editor-view>
</div>