﻿<div class="cdn-mgmt clearfix" ng-controller="CdnManagement.Purging.Site.Controller as vm">
    <umb-editor-view footer="false">
        <umb-editor-header name="'Purge Site'" name-locked="true" hide-icon="true" hide-description="true" hide-alias="true"></umb-editor-header>

        <umb-editor-container>
            <umb-load-indicator ng-if="vm.purging"></umb-load-indicator>

            <div class="row">
                <div class="col">
                    <umb-box>
                        <umb-box-content>
                            <p>This will purge all content from the CDN cache for the site.</p>
                            <umb-button button-style="action" type="button" action="vm.purge()" label="Purge Entire Site" disabled="vm.purging">
                            </umb-button>
                        </umb-box-content>
                    </umb-box>
                </div>

                <div class="col">
                    <umb-box>
                        <umb-box-header title="Purge Status"></umb-box-header>
                        <umb-box-content ng-show="vm.lastResponse.response">
                            <div class="color-red bold" ng-show="vm.lastResponse.response.error">
                                <i class="icon-alert large"></i><span>Error</span>
                            </div>
                            <div class="color-green bold" ng-show="!vm.lastResponse.response.error">
                                <i class="icon-check large"></i><span>Success</span>
                            </div>
                            <div class="control-description">Last Purge:</div>
                            <small class="control-description">{{vm.lastResponse.dateTime}} by {{vm.lastResponse.user.name}}<br />{{vm.lastResponse.response.message}}{{vm.lastResponse.response.error}}</small>
                        </umb-box-content>
                    </umb-box>
                </div>
            </div>
        </umb-editor-container>
    </umb-editor-view>
</div>

