﻿<div class="cdn-mgmt form-horizontal" ng-controller="CdnManagement.Configuration.Account.Controller as vm">
    <umb-editor-view footer="false">
        <umb-editor-header name="'Account Configuration'" name-locked="true" hide-icon="true" hide-description="true" hide-alias="true"></umb-editor-header>

        <umb-editor-container>
            <umb-load-indicator ng-if="vm.loading"></umb-load-indicator>
            <div class="row">
                <div class="col">
                    <umb-box>
                        <div class="umb-box-header">
                            <div>
                                <div class="umb-box-header-title">{{vm.serviceName}}</div>
                                <div class="umb-box-header-description" ng-if="vm.serviceOverview" ng-bind-html="vm.serviceOverview"></div>
                            </div>
                        </div>
                        <umb-box-content>
                            <div class="umb-property" ng-repeat="property in vm.properties track by property.alias">
                                <umb-control-group alias="{{property.alias}}" label="{{property.name}}" description="{{property.description}}" required="{{property.required}}">
                                    <div class="umb-property-editor db">
                                        <input type="text" id="{{property.alias}}" name="textbox" class="umb-property-editor umb-textstring textstring" ng-model="property.value" ng-disabled="vm.loading">
                                    </div>
                                </umb-control-group>
                            </div>

                            <umb-button button-style="action" type="button" action="vm.saveSettings()" label="Update Credentials" disabled="vm.loading">
                            </umb-button>
                        </umb-box-content>
                    </umb-box>
                </div>
                <div class="col">
                    <umb-box>
                        <umb-box-header title="Account Status"></umb-box-header>
                        <umb-box-content>
                            <div class="color-red bold" ng-show="vm.apiValidation.error !== null">
                                <i class="icon-alert large"></i><span>Not Connected</span>
                            </div>
                            <div class="color-green bold" ng-show="vm.apiValidation.error === null">
                                <i class="icon-check large"></i><span>Connected</span>
                            </div>
                            <small class="control-description">{{vm.apiValidation.message}}{{vm.apiValidation.error}}</small>
                        </umb-box-content>
                    </umb-box>
                </div>
            </div>
        </umb-editor-container>
    </umb-editor-view>
</div>