﻿<div class="cdn-mgmt" ng-controller="CdnManagement.Configuration.AutoPurge.Controller as vm">
    <umb-editor-view footer="false">
        <umb-editor-header name="'Auto-Purge Configuration'" name-locked="true" hide-icon="true" hide-description="true" hide-alias="true"></umb-editor-header>

        <umb-editor-container>
            <umb-load-indicator ng-if="vm.loading"></umb-load-indicator>

            <umb-box>
                <umb-box-header title="Auto-Purge" description="Auto-purging automatically clears the CDN cache as updates are made in the Umbraco back-office.  It does this through area-specific handlers that can be individually enabled or disabled."></umb-box-header>
                <umb-box-content>
                    <div class="umb-property" ng-repeat="handler in vm.handlers track by handler.alias">
                        <umb-control-group alias="{{handler.alias}}" label="{{handler.name}}">
                            <umb-toggle checked="handler.enabled" input-id="{{handler.alias}}" on-click="vm.saveAutoPurge(handler)" disabled="vm.loading"></umb-toggle>
                        </umb-control-group>
                    </div>
                </umb-box-content>
            </umb-box>
        </umb-editor-container>
    </umb-editor-view>
</div>