﻿<div class="cdn-mgmt form-horizontal" ng-controller="CdnManagement.Configuration.Permissions.Controller as vm">
    <umb-editor-view footer="false">
        <umb-editor-header name="'Purge Menu Permissions'" name-locked="true" hide-icon="true" hide-description="true" hide-alias="true"></umb-editor-header>

        <umb-editor-container>
            <umb-load-indicator ng-if="vm.purging"></umb-load-indicator>

            <umb-box>
                <umb-box-header title="Purge Menu Permissions" description="Groups listed here have access to the Purge action in the content and media action menus"></umb-box-header>
                <umb-box-content>
                    <umb-user-group-preview ng-repeat="userGroup in vm.groups"
                                            icon="userGroup.icon"
                                            name="userGroup.name"
                                            sections="userGroup.sections"
                                            content-start-node="userGroup.contentStartNode"
                                            media-start-node="userGroup.mediaStartNode"
                                            allow-remove="false">
                    </umb-user-group-preview>

                    <button type="button"
                            class="umb-node-preview-add"
                            ng-click="vm.openUserGroupPicker()">Add/Remove
                    </button>
                </umb-box-content>
            </umb-box>
        </umb-editor-container>
    </umb-editor-view>
</div>